body{
  margin: 0px;
}

*{
  font-family: 'Segoe UI Variable', sans-serif;
}

.calculator-grid {
    position: absolute;
    bottom: 0;
    grid-gap: 2px;
    box-sizing: border-box;
    display: grid;
    flex-grow: 1;
    gap: 2px;
    grid-template-columns: repeat(4,minmax(0,1fr));
    grid-template-rows: repeat(6,minmax(0,1fr));
    height: calc(90%);
    width: 100%;
    
  }
  
  .calculator-grid > button {
    font-size: 100%;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
  }
  
  .operation{
    background-color: #f9f9f9;
  }
  
  .number{
    background-color: #fff;
  }
  
  .number:hover {
    background-color: #f9f9f9;
  }
  
  .operation:hover{
    background-color: #fff;
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .operation.blue{
    background-color: #0067c0;
    color: white;
  }
  
  .output{
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    
    flex-direction: column;
    padding: 0px 10px;
    margin: -15px 0px;word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-operand{
    color: #777;
    font-size: 1.5rem;
  height: 1.7rem;}
  
  .output .current-operand{
    color: black;
    font-size: 2.5rem;
  }